<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyMusicActivity"
            android:label="@string/category_my_music" />

        <activity
            android:name=".PlayActivity"
            android:label="@string/play_music" />

        <activity
            android:name=".KPopMusicActivity"
            android:label="@string/category_kpop_music" />

        <activity
            android:name=".PopRockMusicActivity"
            android:label="@string/category_pop_rock_music" />

        <activity
            android:name=".SoundtrackMusicActivity"
            android:label="@string/category_soundtrack_music" />

        <activity
            android:name=".ClassicMusicActivity"
            android:label="@string/category_classic_music" />

        <activity
            android:name=".NewAgeMusicActivity"
            android:label="@string/category_new_age_music" />

        <activity
            android:name=".DisneyMusicActivity"
            android:label="@string/category_disney_music" />

    </application>

</manifest>